In [2]:
import pandas as pd
import numpy as np

In [7]:
mk=pd.read_csv(r"data\cubic_zirconia.csv")

In [8]:
mk.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [10]:
mk.shape

(26967, 11)

In [22]:
mk.drop(columns="Unnamed: 0", inplace=True)

In [23]:
mk.head()

   carat        cut color clarity  depth  table     x     y     z  price
1   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
5   1.02      Ideal     D     VS2   61.5   56.0  6.46  6.49  3.99   9502

In [25]:
mk.isnull().sum()

carat        0
cut          0
color        0
clarity      0
depth      697
table        0
x            0
y            0
z            0
price        0
dtype: int64

In [26]:
mk.dropna(inplace=True)

In [27]:
mk.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [29]:
mk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26269 entries, 1 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26269 non-null  float64
 1   cut      26269 non-null  object
 2   color    26269 non-null  object
 3   clarity  26269 non-null  object
 4   depth    26269 non-null  float64
 5   table    26269 non-null  float64
 6   x        26269 non-null  float64
 7   y        26269 non-null  float64
 8   z        26269 non-null  float64
 9   price    26269 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.2+ MB